.title{
    text-align: center;
}
.box1 {
    border: 2px solid blue;
    width: 40%;
    padding: 1% 1% 1% 20%;
    margin: 7% 40% 2% 20%;
    
}
.box2{
    border: 2px solid purple;
    width: 40%;
    padding: 2% 10% 5% 20%; 
    margin: 30px ;
    outline: solid black; 
}
.box3{
    border: 2px solid black;
    width: 40%;
    margin: 20px ;
    padding: 20% 25% 20% 28%;

}